In [87]:
from splinter import Browser
from bs4 import BeautifulSoup as BS

In [88]:
executable_path = {'executable_path': 'c:\\Users\\EasyE\\Desktop\chromedriver'}
browser=Browser("chrome", **executable_path, headless=False)

NASA Mars News

In [89]:
url="https://mars.nasa.gov/news/"
browser.visit(url)

In [90]:
html = browser.html
soup = bs(html, "html.parser")

In [91]:
news_title = soup.find('div', class_='content_title').text

In [92]:
print(news_title)

NASA Invites Students to Name Mars 2020 Rover

In [93]:
news_p=soup.find('div', class_="article_teaser_body").text

In [94]:
print(news_p)

Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

JPL Mars Space Images - Featured Image

In [95]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
jpl = "https://www.jpl.nasa.gov"
browser.visit(url)

In [96]:
html = browser.html
soup = bs(html, "html.parser")

In [97]:
#featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'
#featured_image_url = soup.findAll('div', class_="style")
img_desc = soup.find('div', class_='image_and_description_container')

In [98]:
img_src = img_desc.find('div', class_='img')

In [99]:
image = img_src.find('img')

In [100]:
image['src']

'/spaceimages/images/wallpaper/PIA23345-640x350.jpg'

XPATH

In [47]:
xpath = '//*[@id="full_image"]'

In [48]:
# Use splinter to Click the "Mars in natural color in 2007" image 
# to bring up the full resolution image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [49]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [50]:
img_desc = soup.find('div', class_="fancybox-inner fancybox-skin fancybox-dark-skin fancybox-dark-skin-open")

image = img_desc.find('img')
image['src']

'/spaceimages/images/mediumsize/PIA18182_ip.jpg'

In [51]:
featured_image_url = jpl + image['src']

In [52]:
print('featured_image_url = ' + featured_image_url)

featured_image_url = https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18182_ip.jpg

Mars Weather

In [54]:
# Visit the following URL
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [55]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [56]:
tweet = soup.find_all('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")

In [57]:
print(tweet[0].text)

We won’t be hearing from @MarsCuriosity or @NASAInSight for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years: https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/ …pic.twitter.com/fWruE2v151

In [58]:
z=0
for x in tweet:
    if tweet[z].text.split(' ', 1)[0] == 'InSight':
        mars_weather = tweet[z].text #_Mars weather
        break
    else:
        z+=1
# Scrapes for Mars weather

In [59]:
print(mars_weather)

InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)
winds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.50 hPapic.twitter.com/9YLawm67zS

Mars Facts

In [60]:
import pandas as pd
# Visit the following URL
url = "https://space-facts.com/mars/"
browser.visit(url)

In [61]:
tables = pd.read_html(url)
tables
# Scrape table of Mars facts

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [62]:
type(tables)

list

In [63]:
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [66]:
df = tables[1]
df.columns = ['Facts', 'Values']
#df.columns = ['Equatorial Diameter', 'Polar Diameter', 'Mass', 'Moons', 
#              'Orbit Distance', 'Orbit Period', 'Surface Temperature', 'First Record', 
#              'Recorded By']
df.head()

                  Facts                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [67]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Facts</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres

In [68]:
import time
#import urllib2
import re
# Visit the following URL
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [69]:
hemisphere_image_urls = []

In [70]:
x=1

In [71]:
title_list = []
hemi=1

In [72]:
xpath = ('//*[@id="product-section"]/div[2]/div[' + str(hemi) +']/div/a/h3')

In [73]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")
hemi=1
while hemi < 5:
    xpath = ('//*[@id="product-section"]/div[2]/div[' + str(hemi) +']/div/a/h3')
    hemi_name = browser.find_by_xpath(xpath).text
    print(hemi_name)
    title_list.append(hemi_name)
    hemi+=1

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [74]:
title_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [75]:
print(hemi_name)

Valles Marineris Hemisphere Enhanced

In [76]:
img_url_list = []
hemi=1

In [77]:
xpath = ('//*[@id="product-section"]/div[2]/div[' + str(hemi) +']/div/a/h3')
#xpath = ('//*[@id="product-section"]/div[2]/div[1]/div/a/h3')

In [78]:
# Use splinter to Click the "Mars in natural color in 2007" image 
# to bring up the full resolution image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [79]:
time.sleep(15)

In [80]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [81]:
img_desc = soup.find('div', id="wide-image")
img_src = img_desc.find('div',class_='downloads')
image = img_src.find(target="_blank")
image

In [82]:
print(image)

<a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" target="_blank">Sample</a>

In [83]:
img_list =[]
for link in img_src.find_all('a'):
    if link.has_attr('href'):
        target_img = link.attrs['href']
        img_list.append(target_img)
        print(link.attrs['href'])
print(img_list[0])

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [84]:
img_list[0]

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [85]:
for link in img_src.find_all('a'):
    if link.has_attr('href'):
        
        print(link.attrs['href'][0:21])

http://astropedia.ast
http://astropedia.ast

In [86]:
 listings = {}

    url = "https://washingtondc.craigslist.org/search/hhh?max_price=1500&availabilityMode=0"
    browser.visit(url)

    html = browser.html
    soup = BeautifulSoup(html, "html.parser")

# These are the item being passed into the dictionary

# .find_all(   <will get more results>   )
    listings["headline"] = soup.find("a", class_="result-title").get_text()


    listings["price"] = soup.find("span", class_="result-price").get_text()



    listings["hood"] = soup.find("span", class_="result-hood").get_text()

IndentationError: unexpected indent (<ipython-input-86-0d7ca2f7a9b2>, line 3)