In [51]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [52]:
executable_path = {'executable_path': 'c:\\Users\\EasyE\\Desktop\chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

NASA Mars News

In [53]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [54]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [55]:
news_title =  soup.find('div', class_='content_title').a.text
news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

NASA Invites Students to Name Mars 2020 Rover
Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

JPL Mars Space Images - Featured Image

In [56]:
# URL of page to be scraped
url1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url1)

In [57]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [58]:
carousel_item =  soup.find('article', class_='carousel_item')

In [59]:
print(carousel_item.prettify())

<article alt="Sunrise on Saturn" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA18289-1920x1200.jpg');">
 <div class="default floating_text_area ms-layer">
  <h2 class="category_title">
  </h2>
  <h2 class="brand_title">
   FEATURED IMAGE
  </h2>
  <h1 class="media_feature_title">
   Sunrise on Saturn
  </h1>
  <div class="description">
  </div>
  <footer>
   <a class="button fancybox" data-description="A new day dawns on Saturn as the part of the planet is seen emerging once more into the Sun's light by NASA's Cassini orbiter. With an estimated rotation period of 10 hours and 40 minutes, Saturn's days and nights are much shorter than those on Earth." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA18289_ip.jpg" data-link="/spaceimages/details.php?id=PIA18289" data-title="Sunrise on Saturn" id="full_image">
    FULL IMAGE
   </a>
  </footer>
 </div>
 <div class="gradient_container_top">
 </div>
 <div class="gradient_container_bottom">
 </div>
</article>

In [60]:
style = carousel_item["style"]
print(style)

background-image: url('/spaceimages/images/wallpaper/PIA18289-1920x1200.jpg');

In [61]:
split_text = style.split("'")
print(split_text[1])

/spaceimages/images/wallpaper/PIA18289-1920x1200.jpg

In [62]:
featured_image_url = 'https://www.jpl.nasa.gov' + split_text[1]
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18289-1920x1200.jpg

Mars Weather

In [63]:
# URL of page to be scraped
url2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url2)

In [64]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [65]:
tweet_text_container = soup.find('div', class_='js-tweet-text-container')
print(tweet_text_container.prettify())

<div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">
  We won’t be hearing from
  <a class="twitter-atreply pretty-link js-nav" data-mentioned-user-id="15473958" dir="ltr" href="/MarsCuriosity">
   <s>
    @
   </s>
   <b>
    MarsCuriosity
   </b>
  </a>
  or
  <a class="twitter-atreply pretty-link js-nav" data-mentioned-user-id="407387443" dir="ltr" href="/NASAInSight">
   <s>
    @
   </s>
   <b>
    NASAInSight
   </b>
  </a>
  for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years:
  <a class="twitter-timeline-link" data-expanded-url="https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/" dir="ltr" href="https://t.co/OAOoqH9HCt" rel="nofollow noopener" target="_blank" title="https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/">
   <span class="tco-ellipsis">
   </span>
   <span class="invisible">
    https://www.
   </span>
   <span class="js-display-url">
    wral.com/mars-spacecraf
   </span>
   <span class="invisible">
    t-go-quiet-during-solar-conjunction/18595551/
   </span>
   <span class="tco-ellipsis">
    <span class="invisible">
    </span>
    …
   </span>
  </a>
  <a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/fWruE2v151">
   pic.twitter.com/fWruE2v151
  </a>
 </p>
</div>

In [66]:
mars_weather = tweet_text_container.p.text 
print(mars_weather)

We won’t be hearing from @MarsCuriosity or @NASAInSight for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years: https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/ …pic.twitter.com/fWruE2v151

Mars Facts

In [67]:
# URL of page to be scraped
url3 = 'http://space-facts.com/mars/'
browser.visit(url3)

In [68]:
tables = pd.read_html(url3)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [69]:
df = tables[0]
df.columns = ["Comparison", "Mars", "Earth"]
df.head()

           Comparison             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days

In [70]:
df.set_index('Comparison', inplace=True)
df.head()

                               Mars            Earth
Comparison
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days

In [71]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres

In [72]:
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere_image_urls = []

hemis_titles = soup.find_all('h3')

for i in range(len(hemis_titles)):
    hemis_title = hemis_titles[i].text
    print(hemis_title)
    
    hemis_images = browser.find_by_tag('h3')
    hemis_images[i].click()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    img_url = soup.find('img', class_='wide-image')['src']
    img_url = "https://astrogeology.usgs.gov" + img_url
    print(img_url)
    
    hemis_dict = {"title": hemis_title, "img_url":img_url}
    hemisphere_image_urls.append(hemis_dict)
    
    browser.back()

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg

In [73]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [50]:
browser.quit()